<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Firebase / Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UGVHelperAdmin"
        tools:targetApi="31">

        <!-- 🔹 Dashboard (Grid menu after login) -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminTeachersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminResultInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRoutineActivity"
            android:exported="false" />

        <activity
            android:name=".AdminSemesterPlanActivity"
            android:exported="false"/>


        <activity android:name=".AdminBusScheduleActivity" android:exported="false"/>

        <activity
            android:name=".AdminVarsityInfoActivity"
            android:exported="false" />

        <activity
            android:name=".AdminClubActivity"
            android:exported="false" />


        <activity
            android:name=".AdminStaffActivity"
            android:exported="false" />


    </application>

</manifest>